* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9fb;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.form-group {
    flex: 1 1 calc(50% - 20px);
    min-width: 250px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #f9f9fb;
}

.form-group input[type="submit"] {
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 13px 20px;
    margin-top: 20px;
    border-radius: 5px;
}

.form-group input[type="submit"]:hover {
    background-color: #218838;
}

.user-heading {
    text-align: center;
}

.user-list {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.user-card {
    flex: 1 1 calc(33.333% - 20px);
    min-width: 250px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.user-card h3 {
    margin: 0 0 10px;
    color: #333;
}

.user-card p {
    margin: 5px 0;
    color: #555;
}

.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.pagination button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
    background-color: #0056b3;
}

.user-buttons {
    padding: .5rem;
}

.user-buttons>button {
    padding: 5px 15px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: #f9f9fb;
}

.user-edit {
    background-color: #28a745;
}

.user-edit:hover {
    background-color: #218838;
}

.user-delete {
    background-color: #ff4800;
}

.user-delete:hover {
    background-color: #b33f00;
}


@media (max-width: 768px) {
    .form-group {
        flex: 1 1 100%;
    }

    .user-card {
        flex: 1 1 100%;
    }
}


#message{
    position: fixed;
    top: 25px;
    right: 25px;
    background-color: #212121;
    color: white;
    display: flex;
    min-width: 300px;
    justify-content: space-between;
    padding: 10px 14px;
    border-radius: 5px;
    z-index: 100;
}
#message span:last-child{
    cursor: pointer;
}